/* :root {
    --dark-green: #006400;
    --silver: #c0c5c1;
    --beige: #eaf0ce;
    --dark-vader: black;
    --light-saber: white;
    --emerald: #50c878;
    --slate-gray: #7d8491;
    --english-violet: #574b60;
    --deep-purple: #3f334d;
  }


.portfolio-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vh 10vw;
    padding-top: 2rem;
}

@media only screen and (max-width: 920px) {  
    .project-space {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: scroll;
      }
      .portfolio-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: scroll;
      }
    }

    h2:hover {
      background-color: var(--deep-purple);

    }
    h2  {
        transform: scale(2, 1, 1);
        box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
          0 0 10px 15px var(--english-violet);
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1.563rem;
        font-size: 3.125rem;
        background-color: var(--emerald);
        color:var(--beige);
        border-style: solid;
        border-color: var(--silver);
    } */