:root {
    --dark-green: #006400;
    --silver: #c0c5c1;
    --beige: #eaf0ce;
    --dark-vader: black;
    --light-saber: white;
    --emerald: #50c878;
    --slate-gray: #7d8491;
    --english-violet: #574b60;
    --deep-purple: #3f334d;
  }

  nav.navigation {
    background-color: var(--slate-gray);
    padding-top: 0.938rem;
    display: flex;
    justify-content: center; /* This centers the flex items horizontally */
  }

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

.nav-bar :active {
    color: var(--emerald);
}

nav {
    padding-top: 0.938rem;
    /* margin-right: 1.25rem; */
    display: block;
    text-align: center;

}

li {
    font-size: 1.5rem;
    padding-top: 0.938rem;
    margin-right: 1.25rem;
    display: inline-block;
}

ul {
    display: inline-block;
    margin: 0.625;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:hover {
    color:var(--dark-green);
    transform: scale(1.2);
    text-shadow: none;
}
