:root {
    --dark-green: #006400;
    --silver: #c0c5c1;
    --beige: #eaf0ce;
    --dark-vader: black;
    --light-saber: white;
    --emerald: #50c878;
    --slate-gray: #7d8491;
    --english-violet: #574b60;
    --deep-purple: #3f334d;
  }

  footer {
    position: fixed;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    bottom: 0;
    width: 100%;
    height: 5.625rem;
    background-color:#556780;
    text-align: center;
  }

  h3 {
    padding-bottom: 0.625rem;
    color: var(--emerald);
    text-decoration: underline;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.github {
    color: var(--slate-gray);
  }
  
  a.linkedin {
    color: var(--dark-green);
  }