/* created main color theme to use throughout sheet */
:root {
  --dark-green: #006400;
  --silver: #c0c5c1;
  --beige: #eaf0ce;
  --dark-vader: black;
  --light-saber: white;
  --emerald: #50c878;
  --slate-gray: #7d8491;
  --english-violet: #574b60;
  --deep-purple: #3f334d;
}
header.header {
  margin-left: auto;
  margin-right: auto;
}

img.project-screencap {
  padding: 20px;
}
  

/* sets background color of page and font size/family and cursor */
body {
  background-color: var(--dark-vader);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: crosshair;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section {
  margin-bottom: 70px;
  text-align: center;
}
/* hover effect when we hover over h1 */
h1:hover {
  transform: scale(2, 1, 1);
  box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
    0 0 10px 15px var(--english-violet);
}
/* h1 styles borders/box-shadows/alignment */
h1 {
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 36px;
  padding: 10px;
  margin-bottom: 65px;
  margin-top: 40px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
  justify-content: center;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 10px;
  margin-bottom: 80px;
  margin-top: 115px;
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
  text-align: center;
  max-width: none;
}
img.beauty {
  display: inherit;
  border-style: solid;
  border-color: var(--english-violet);
  border-width: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);
  margin-bottom: 40px;
}

img.project-screencap {
  padding: 4px;
}

img {
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);

  max-width: 200px;
  height: 200px;
  margin-top: 30px;
}

img.float {
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);
  max-width: 150px;
  height: 150px;
  float: right;
}

li {
  list-style: none;
  display: inline-block;
  align-items: center;
  padding: 20px; 
}

input#name {

list-style: none;
  display: inline-block;
  align-items: center;
}

div.contact-form {
  text-align: center;
}

label {
  color: var(--slate-gray);
  padding: 4px;
}

form {
  display: inline-block;
  align-items: center;
}

p:hover {
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);

}

/* about me paragraph styles */
p {
  color: var(--silver);
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
    0 0 10px 15px var(--english-violet);
}

a.contact {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

.portfolio-sections {
  display: flex;
  flex-wrap: wrap; /* Wrap items to the next line when they don't fit */
  justify-content: space-between; /* Distribute items evenly with space between them */
  justify-content: space-around;
  padding: 75px;
}

a.resume {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

a.resume.active {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

a.about-me {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

a.portfolio {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

a.linkedin {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

a.github {
  border-style: inset;
  border-width: 4px;
  border-color: var(--slate-gray);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

/* anchor styles  */
a {
  color: var(--silver);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 65px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  padding: 50px;
}

h3 {
  color: var(--silver);
  color: var(--silver);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

footer {
  color: var(--silver);
  text-align: center;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  section h2 {
    font-size: 1.6em;
  }
